/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./template-parts/blocks/dynamic-hero-slider/dynamic-hero-slider.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
/*********************************************
Utility - Variables, Tools, Functions, Mixins
*********************************************/
/* Drop Cloth Linen | rgb(242,234,223) */
/* Wealth Green | rgb(96,147,93) */
/* Culture Purple | rgb(131,109,199) */
/* Authentically Orange | rgb(250,69,35) */
/* Rich Black | rgb(0,16,17) */
/*----------------
		Font
------------------*/
/*---------------------------------
		Font Weights
-----------------------------------*/
/*---------------------------------
		Mixins & Functions
-----------------------------------*/
/* START: Editor Specific Styles */
.wp-block-acf-dynamic-hero-slider.acf-block-preview .dynamic-hero-slider .dynamic-tab-container .dynamic-tab h4,
.wp-block-acf-dynamic-hero-slider.acf-block-preview .dynamic-hero-slider .dynamic-tab-container .dynamic-tab h5 {
  margin-top: 0 !important;
}
.wp-block-acf-dynamic-hero-slider.acf-block-preview .button {
  background-color: #B61615;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Oswald, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  padding: 20px 30px;
  border-radius: 0;
  border: 1px solid transparent;
  transition: all 0.2s ease;
}
.wp-block-acf-dynamic-hero-slider.acf-block-preview .button:hover {
  background-color: #ffffff;
  color: #00152C;
  border: 1px solid #00152C;
}

/* END: Editor Specific Styles */
.dynamic-hero-slider {
  width: 100% !important;
  margin: 0 auto !important;
}
.dynamic-hero-slider .dynamic-slider-container {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 600px;
}
@media (max-width: 768px) {
  .dynamic-hero-slider .dynamic-slider-container {
    height: 400px;
  }
}
@media (max-width: 414px) {
  .dynamic-hero-slider .dynamic-slider-container {
    height: 300px;
  }
}
@media screen and (min-width: 1920px) {
  .dynamic-hero-slider .dynamic-slider-container {
    height: 800px;
  }
}
.dynamic-hero-slider .dynamic-slide {
  display: block;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dynamic-hero-slider .dynamic-slide h1 {
  color: #ffffff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}
@media (min-width: 690px) and (max-width: 1024px) {
  .dynamic-hero-slider .dynamic-slide h1 {
    font-size: 62px;
    line-height: 1;
  }
}
@media (max-width: 690px) {
  .dynamic-hero-slider .dynamic-slide h1 {
    margin-bottom: 0;
  }
}
.dynamic-hero-slider .dynamic-slide-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: relative;
  padding: 0 80px;
  text-align: center;
}
.dynamic-hero-slider .dynamic-slide-background:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 21, 44, 0.5);
  z-index: -1;
}
.dynamic-hero-slider .dynamic-slide-background img {
  position: relative;
  max-width: 237px;
  top: -14px;
}
.dynamic-hero-slider .dynamic-slide.active {
  opacity: 1;
}
.dynamic-hero-slider .dynamic-slider-prev,
.dynamic-hero-slider .dynamic-slider-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}
@media (max-width: 1280px) {
  .dynamic-hero-slider .dynamic-slider-prev,
  .dynamic-hero-slider .dynamic-slider-next {
    width: 50px;
    height: 50px;
  }
}
.dynamic-hero-slider .dynamic-slider-prev svg,
.dynamic-hero-slider .dynamic-slider-next svg {
  width: 18px;
}
@media (max-width: 690px) {
  .dynamic-hero-slider .dynamic-slider-navigation {
    display: none;
  }
}
.dynamic-hero-slider .dynamic-slider-prev {
  left: 0;
  background: #ffffff;
  border: 0;
}
.dynamic-hero-slider .dynamic-slider-prev svg {
  transform: rotate(180deg);
  fill: #B61615;
}
.dynamic-hero-slider .dynamic-slider-next {
  right: 0;
  background: #ffffff;
  border: 0;
}
.dynamic-hero-slider .dynamic-slider-next svg {
  fill: #B61615;
}
.dynamic-hero-slider .dynamic-slider-prev.hidden,
.dynamic-hero-slider .dynamic-slider-next.hidden {
  display: none;
}
.dynamic-hero-slider .dynamic-tab-title-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #00152C;
}
.dynamic-hero-slider .dynamic-tab-title-container .dynamic-tab-title {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  transition: opacity 0.5s ease;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  min-height: 207px;
  height: auto;
  padding: 15px 15px 25px 15px;
}
@media (max-width: 768px) {
  .dynamic-hero-slider .dynamic-tab-title-container .dynamic-tab-title {
    min-height: 0;
    padding: 15px;
  }
}
.dynamic-hero-slider .dynamic-tab-title-container .dynamic-tab-title > div {
  height: 100%;
}
.dynamic-hero-slider .dynamic-tab-title-container .dynamic-tab-title h5 {
  display: block;
  max-width: 110px;
  width: 100%;
  background: transparent;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .dynamic-hero-slider .dynamic-tab-title-container .dynamic-tab-title h5 {
    display: none;
  }
}
.dynamic-hero-slider .dynamic-tab-title-container .dynamic-tab-title h5.tab-title-wide {
  max-width: 165px;
  margin-bottom: 0;
}
.dynamic-hero-slider .dynamic-tab-title-container .dynamic-tab-title img {
  display: block;
  max-width: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.dynamic-hero-slider .dynamic-tab-title-container .dynamic-tab-title.active {
  opacity: 1;
  position: relative;
}
.dynamic-hero-slider .dynamic-tab-title-container .dynamic-tab-title.active:after {
  bottom: 0;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(182, 22, 21, 0);
  border-bottom-color: #B61615;
  border-width: 18px;
  margin-left: -18px;
}
@media (max-width: 768px) {
  .dynamic-hero-slider .dynamic-tab-title-container .dynamic-tab-title.active:after {
    border-width: 11px;
    margin-left: -11px;
  }
}
.dynamic-hero-slider .dynamic-tabs h3 {
  margin-bottom: 20px;
}
.dynamic-hero-slider .dynamic-tabs h4,
.dynamic-hero-slider .dynamic-tabs h5 {
  margin-bottom: 20px;
}
.dynamic-hero-slider .dynamic-tabs .tab-title-default {
  margin-bottom: 0;
}
.dynamic-hero-slider .dynamic-tab-container {
  border-top: 10px solid #B61615;
}
.dynamic-hero-slider .dynamic-tab-container .dynamic-tab {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: #00152C;
  padding: 50px;
}
@media (max-width: 768px) {
  .dynamic-hero-slider .dynamic-tab-container .dynamic-tab {
    padding: 25px;
  }
}
.dynamic-hero-slider .dynamic-tab-container .dynamic-tab h1,
.dynamic-hero-slider .dynamic-tab-container .dynamic-tab h2,
.dynamic-hero-slider .dynamic-tab-container .dynamic-tab h3,
.dynamic-hero-slider .dynamic-tab-container .dynamic-tab h4,
.dynamic-hero-slider .dynamic-tab-container .dynamic-tab h5,
.dynamic-hero-slider .dynamic-tab-container .dynamic-tab h6 {
  color: #ffffff;
}
.dynamic-hero-slider .dynamic-tab-container .dynamic-tab h4,
.dynamic-hero-slider .dynamic-tab-container .dynamic-tab h5 {
  margin-top: -15px !important;
}
.dynamic-hero-slider .dynamic-tab-container .dynamic-tab p {
  color: #ffffff;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
@media (max-width: 768px) {
  .dynamic-hero-slider .dynamic-tab-container .dynamic-tab p {
    font-size: 16px;
    line-height: 28px;
  }
}
.dynamic-hero-slider .dynamic-tab-container .dynamic-tab p.disclaimer {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.dynamic-hero-slider .dynamic-tab-container .dynamic-tab a {
  color: #B61615;
}
.dynamic-hero-slider .dynamic-tab-container .dynamic-tab .button {
  margin-top: 25px;
  color: #ffffff;
}
.dynamic-hero-slider .dynamic-tab-container .dynamic-tab .button:hover {
  color: #00152C;
  text-decoration: none;
}
.dynamic-hero-slider .dynamic-tab-container .dynamic-tab.active {
  display: block;
  opacity: 1;
}
.dynamic-hero-slider .dynamic-tab-container .quote {
  position: relative;
}
.dynamic-hero-slider .dynamic-tab-container .quote p {
  font-family: Oswald, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  position: relative;
}
@media (max-width: 768px) {
  .dynamic-hero-slider .dynamic-tab-container .quote p {
    font-size: 20px;
    line-height: 26px;
  }
}
.dynamic-hero-slider .dynamic-tab-container .quote > p {
  padding-left: 50px;
  padding-right: 5px;
}
@media (max-width: 768px) {
  .dynamic-hero-slider .dynamic-tab-container .quote > p {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.dynamic-hero-slider .dynamic-tab-container .quote p:last-child {
  margin-top: 20px;
}
.dynamic-hero-slider .dynamic-tab-container .quote .left-quote,
.dynamic-hero-slider .dynamic-tab-container .quote .right-quote {
  font-family: Oswald, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 90px;
  font-weight: 700;
  line-height: 0;
  text-align: left;
  color: #B61615;
}
@media (max-width: 768px) {
  .dynamic-hero-slider .dynamic-tab-container .quote .left-quote,
  .dynamic-hero-slider .dynamic-tab-container .quote .right-quote {
    font-size: 75px;
  }
}
.dynamic-hero-slider .dynamic-tab-container .quote .left-quote {
  position: absolute;
  left: 0;
  top: 40px;
}
@media (max-width: 768px) {
  .dynamic-hero-slider .dynamic-tab-container .quote .left-quote {
    top: 30px;
  }
}
.dynamic-hero-slider .dynamic-tab-container .quote .right-quote {
  position: absolute;
  right: 0;
  bottom: 0;
}
.dynamic-hero-slider .dynamic-tab-container .quote .quote-author,
.dynamic-hero-slider .dynamic-tab-container .quote .quote-author-title {
  font-family: Oswald, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  display: block;
  text-transform: uppercase;
}
.dynamic-hero-slider .dynamic-tab-container .row {
  display: flex;
}
@media (max-width: 1000px) {
  .dynamic-hero-slider .dynamic-tab-container .row {
    flex-direction: column;
    align-items: flex-start;
  }
}
.dynamic-hero-slider .dynamic-tab-container .col-full {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.dynamic-hero-slider .dynamic-tab-container .col-full > div {
  column-count: 2;
  column-gap: 50px;
}
@media (max-width: 1000px) {
  .dynamic-hero-slider .dynamic-tab-container .col-full > div {
    column-count: 1;
    column-gap: initial;
  }
}
.dynamic-hero-slider .dynamic-tab-container .col-left {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 25px;
}
@media (max-width: 1000px) {
  .dynamic-hero-slider .dynamic-tab-container .col-left {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    padding-right: 0;
  }
}
.dynamic-hero-slider .dynamic-tab-container .col-right {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 25px;
}
@media (max-width: 1000px) {
  .dynamic-hero-slider .dynamic-tab-container .col-right {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    padding-left: 0;
    margin-top: 25px;
  }
}
.dynamic-hero-slider .dynamic-tab-container .image img {
  display: block;
  width: 100%;
  max-width: 100%;
}
@media screen and (min-width: 1920px) {
  .dynamic-hero-slider .dynamic-tab-container .image {
    position: relative;
    overflow: hidden;
    height: 650px;
  }
  .dynamic-hero-slider .dynamic-tab-container .image img {
    position: absolute;
    object-fit: cover;
  }
}
@media only screen and (min-width: 1921px) {
  .dynamic-hero-slider .dynamic-tab > * {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 3000px) {
  .dynamic-hero-slider .dynamic-slider-container {
    height: 1000px;
  }
}

/*# sourceMappingURL=dynamic-hero-slider.css.map*/