@import "../../../src/sass/theme/utility";

// Editor Specific Styles
.wp-block-acf-cta.acf-block-preview {}

.cta-block {
  // border: 1px dashed magenta;

  // .block-wrapper {
  //   border: 1px dotted yellow;
  // }
  
  .block-container {
    // border: 1px dashed blue;
    padding: 60px;
    margin: 0 auto;
    max-width: 900px;
    border-radius: 15px;
    text-align: center;

    .cta-block-btn-wrapper {
      justify-content: center;
    }
  
    p.cta-text {
      font-size: 66px;
      font-weight: 300;
      line-height: 75.8px;
      margin-bottom: 30px;
    }
  
    .cta-block-btn {
      display: flex;
      justify-content: center;
    }
  }
}

