/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./template-parts/blocks/event-detail-map/event-detail-map.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
/*********************************************
Utility - Variables, Tools, Functions, Mixins
*********************************************/
/* Drop Cloth Linen | rgb(242,234,223) */
/* Wealth Green | rgb(96,147,93) */
/* Culture Purple | rgb(131,109,199) */
/* Authentically Orange | rgb(250,69,35) */
/* Rich Black | rgb(0,16,17) */
/*----------------
		Font
------------------*/
/*---------------------------------
		Font Weights
-----------------------------------*/
/*---------------------------------
		Mixins & Functions
-----------------------------------*/
/* START: Editor Specific Styles */
/* END: Editor Specific Styles */
.event-detail-map .kb-row-layout {
  background-color: rgba(255, 255, 255, 0.72);
}
.event-detail-map .kb-row-layout > .kt-row-column-wrap {
  align-content: start;
  column-gap: 0px;
  row-gap: 0px;
  max-width: 1820px;
  padding-top: 0px;
  padding-bottom: 0px;
  grid-template-columns: minmax(0, 60%) minmax(0, 40%);
  background: #f5f5f5;
}
@media all and (max-width: 1024px), all and (max-width: 767px) {
  .event-detail-map .kb-row-layout > .kt-row-column-wrap {
    grid-template-columns: minmax(0, 1fr);
  }
}
.event-detail-map .kb-row-layout > .kt-row-column-wrap .kadence-column:last-child .kt-inside-inner-col {
  padding: 0;
}
.event-detail-map :where(.kb-row-layout > .kt-row-column-wrap) > .wp-block-kadence-column {
  justify-content: start;
}
.event-detail-map .kadence-column {
  position: relative;
  align-self: center;
}
.event-detail-map .kadence-column > .kt-inside-inner-col {
  padding: 28px 20px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  background-color: #f5f5f5;
  border-radius: 0px;
  height: 100%;
}
.event-detail-map .kadence-column > .kt-inside-inner-col > .aligncenter {
  width: 100%;
}
.event-detail-map .kadence-column.kt-inner-column-height-full:not(.kt-has-1-columns) {
  align-self: auto;
}
.event-detail-map .kadence-column.kt-inner-column-height-full:not(.kt-has-1-columns) > .kt-inside-inner-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.event-detail-map .wp-block-kadence-advancedbtn.kb-btns {
  gap: var(--global-kb-gap-xs, 0.5rem);
  justify-content: flex-start;
  align-items: center;
}
.event-detail-map .wp-block-kadence-advancedbtn.kb-btns .kt-button .kt-btn-wrap {
  margin-right: 5px;
}
.event-detail-map .kb-google-maps-container {
  height: 400px;
  filter: saturate(150%);
}
@media all and (max-width: 1024px) {
  .event-detail-map .kb-google-maps-container {
    height: 300px;
  }
}
@media all and (max-width: 767px) {
  .event-detail-map .kb-google-maps-container {
    height: 200px;
  }
}
ul.menu .event-detail-map .wp-block-kadence-advancedbtn .kb-button, .event-detail-map .wp-block-kadence-advancedbtn .kb-button {
  width: initial;
  background: #B61615;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  font-family: Oswald;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0px;
  border: 1px solid var(--paletteColor1, #B61615);
  padding: var(--global-kb-spacing-xxs, 0.5rem) var(--global-kb-spacing-md, 2rem);
  margin-top: 24px;
}
ul.menu .event-detail-map .wp-block-kadence-advancedbtn .kb-button:hover, .event-detail-map .wp-block-kadence-advancedbtn .kb-button:hover {
  color: var(--paletteColor2, #00152C);
  background: var(--paletteColor8, #ffffff);
}
@media all and (max-width: 1024px) {
  .event-detail-map .wp-block-kadence-advancedbtn .kb-button {
    border: 1px solid var(--paletteColor1, #B61615);
  }
}
@media all and (max-width: 767px) {
  .event-detail-map .wp-block-kadence-advancedbtn .kb-button {
    border: 1px solid var(--paletteColor1, #B61615);
  }
}

/*# sourceMappingURL=event-detail-map.css.map*/