/*!******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./template-parts/blocks/dynamic-inventory-slider/dynamic-inventory-slider.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************/
/*********************************************
Utility - Variables, Tools, Functions, Mixins
*********************************************/
/* Drop Cloth Linen | rgb(242,234,223) */
/* Wealth Green | rgb(96,147,93) */
/* Culture Purple | rgb(131,109,199) */
/* Authentically Orange | rgb(250,69,35) */
/* Rich Black | rgb(0,16,17) */
/*----------------
		Font
------------------*/
/*---------------------------------
		Font Weights
-----------------------------------*/
/*---------------------------------
		Mixins & Functions
-----------------------------------*/
/* START: Editor Specific Styles */
.wp-block-acf-dynamic-inventory-slider.acf-block-preview .button {
  background-color: #B61615;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Oswald, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  padding: 20px 30px;
  border-radius: 0;
  border: 1px solid transparent;
  transition: all 0.2s ease;
}
.wp-block-acf-dynamic-inventory-slider.acf-block-preview .button:hover {
  background-color: #ffffff;
  color: #00152C;
  border: 1px solid #00152C;
}

/* END: Editor Specific Styles */
.dynamic-inventory-slider {
  width: 100% !important;
  max-width: 1920px !important;
  margin: 0 auto !important;
}
.dynamic-inventory-slider .dynamic-slider-container {
  display: flex;
  position: relative;
  overflow: hidden;
  padding-bottom: 66.67%;
}
.dynamic-inventory-slider .dynamic-slide {
  display: block;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dynamic-inventory-slider .dynamic-slide.active {
  opacity: 1;
}
.dynamic-inventory-slider .dynamic-slide-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: relative;
  padding: 0 80px;
  text-align: center;
}
.dynamic-inventory-slider .dynamic-slide-background:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 21, 44, 0.5);
  z-index: -1;
}
.dynamic-inventory-slider .dynamic-slide-background img {
  position: relative;
  max-width: 237px;
  top: -14px;
}
.dynamic-inventory-slider .dynamic-slider-prev,
.dynamic-inventory-slider .dynamic-slider-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}
@media (max-width: 1280px) {
  .dynamic-inventory-slider .dynamic-slider-prev,
  .dynamic-inventory-slider .dynamic-slider-next {
    width: 50px;
    height: 50px;
  }
}
.dynamic-inventory-slider .dynamic-slider-prev svg,
.dynamic-inventory-slider .dynamic-slider-next svg {
  width: 18px;
}
@media (max-width: 690px) {
  .dynamic-inventory-slider .dynamic-slider-navigation {
    display: none;
  }
}
.dynamic-inventory-slider .dynamic-slider-prev {
  left: 0;
  background: #ffffff;
  border: 0;
}
.dynamic-inventory-slider .dynamic-slider-prev svg {
  transform: rotate(180deg);
  fill: #B61615;
}
.dynamic-inventory-slider .dynamic-slider-next {
  right: 0;
  background: #ffffff;
  border: 0;
}
.dynamic-inventory-slider .dynamic-slider-next svg {
  fill: #B61615;
}
.dynamic-inventory-slider .dynamic-slider-prev.hidden,
.dynamic-inventory-slider .dynamic-slider-next.hidden {
  display: none;
}
.dynamic-inventory-slider .dynamic-thumbnail-navigation {
  margin-top: 10px;
  margin-bottom: 50px;
  overflow: hidden;
}
.dynamic-inventory-slider .dynamic-thumbnail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  left: 0;
  transition: left 200ms ease;
}
.dynamic-inventory-slider .dynamic-thumbnail-container .dynamic-thumbnail {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: calc(16.6667% - 8.3333px);
  margin-right: 10px;
  margin-bottom: 20px;
  flex-shrink: 0;
  padding-bottom: 10%;
}
.dynamic-inventory-slider .dynamic-thumbnail-container .dynamic-thumbnail:after {
  bottom: -10px;
  left: 0;
  right: 0;
  opacity: 0;
  content: "";
  display: block;
  height: 3.5px;
  width: 100%;
  background-color: #B61615;
  position: absolute;
  pointer-events: none;
  transition: all 300ms ease;
}
.dynamic-inventory-slider .dynamic-thumbnail-container .dynamic-thumbnail.active {
  opacity: 1;
  position: relative;
}
.dynamic-inventory-slider .dynamic-thumbnail-container .dynamic-thumbnail.active:after {
  opacity: 0.7;
}

/*# sourceMappingURL=dynamic-inventory-slider.css.map*/