@import "../../../src/sass/theme/utility";

// Define variables
$theme-blue: #00152C;
$theme-red: #B61615;

/* START: Editor Specific Styles */
.wp-block-acf-dynamic-inventory-slider.acf-block-preview {
  .button {
    background-color: $theme-red;
    color: $white;
    text-transform: uppercase;
    font-family: Oswald, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    padding: 20px 30px;
    border-radius: 0;
    border:1px solid transparent;
    transition: all .2s ease;
    &:hover {
      background-color: $white;
      color: $theme-blue;
      border: 1px solid $theme-blue;
    }
  }
}
/* END: Editor Specific Styles */
 
.dynamic-inventory-slider {
  width: 100% !important;
  max-width: 1920px !important;
  margin: 0 auto !important;

  .dynamic-slider-container {
    display: flex;
    position: relative;
    overflow: hidden;
    padding-bottom: 66.67%;
  }

  .dynamic-slide {
    display: block;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .dynamic-slide.active {
    opacity: 1;
  }

  .dynamic-slide-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: relative;
    padding: 0 80px;
    text-align: center;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 21, 44, 0.5);
      z-index: -1;
    }

    img {
      position: relative;
      max-width: 237px;
      top: -14px;
    }
  }

  .dynamic-slider-prev,
  .dynamic-slider-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;

    @media (max-width: 1280px) {
      width: 50px;
      height: 50px;
    }

    svg {
      width: 18px;
    }
  }

  .dynamic-slider-navigation {
    @media (max-width: 690px) {
      display: none;
    }
  }

  .dynamic-slider-prev {
    left: 0;
    background: $white;
    border: 0;

    svg {
      transform: rotate(180deg);
      fill: $theme-red;
    }
  }

  .dynamic-slider-next {
    right: 0;
    background: $white;
    border: 0;

    svg {
      fill: $theme-red;
    }
  }

  .dynamic-slider-prev.hidden,
  .dynamic-slider-next.hidden {
    display: none;
  }

  .dynamic-thumbnail-navigation {
    margin-top: 10px;
    margin-bottom: 50px;
    overflow: hidden;
  }

  .dynamic-thumbnail-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    left: 0;
    transition: left 200ms ease;

    .dynamic-thumbnail {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      cursor: pointer;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      width: calc(16.6667% - 8.3333px);
      margin-right: 10px; // if this changes, update + 10 on thumbWidth value in dynamic-inventory-slider-view.js
      margin-bottom: 20px;
      flex-shrink: 0;
      padding-bottom: 10%;

      &:after {
        bottom: -10px;
        left: 0;
        right: 0;
        opacity: 0;
        content: "";
        display: block;
        height: 3.5px;
        width: 100%;
        background-color: $theme-red;
        position: absolute;
        pointer-events: none;
        transition: all 300ms ease;
      }
    
      &.active {
        opacity: 1;
        position: relative;
        &:after {
          opacity: .7;
        }

      }
    }
  }

}