.feature-icon {
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background-image: url('../../../static-assets/icons/feature-icons/star.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        content: '';
        text-align: center;
        display: block;
    }
    &.awd:before, &.fourwd:before {
        background-image: url('../../../static-assets/icons/feature-icons/awd.svg');
    }
    &.bluetooth-wireless:before, &.bluetooth-handsfree:before, &.bluetooth:before {
        background-image: url('../../../static-assets/icons/feature-icons/bluetooth-wireless.svg');
    }
    &.backup-camera:before {
        background-image: url('../../../static-assets/icons/feature-icons/backup-camera.svg');
    }
    &.android-auto:before {
        background-image: url('../../../static-assets/icons/feature-icons/android-auto.svg');
    }
    &.apple-carplay:before, &.carplay:before {
        background-image: url('../../../static-assets/icons/feature-icons/apple-carplay.svg');
    }
    &.adaptive-cruise-control:before, &.cruise-control:before, &.speed-control:before {
        background-image: url('../../../static-assets/icons/feature-icons/adaptive-cruise-control.svg');
    }
    &.fog-lights:before {
        background-image: url('../../../static-assets/icons/feature-icons/fog-lights.svg');
    }
    &.forward-collision-warning:before, &.collision-warning:before {
        background-image: url('../../../static-assets/icons/feature-icons/forward-collision-warning.svg');
    }
    &.sunroof:before, &.sunroofmoonroof:before, &.sunroof-moonroof:before {
        background-image: url('../../../static-assets/icons/feature-icons/sunroof.svg');
    }
    &.leather-seats:before {
        background-image: url('../../../static-assets/icons/feature-icons/leather-seats.svg');
    }
    &.lane-departure-warning:before {
        background-image: url('../../../static-assets/icons/feature-icons/lane-departure-warning.svg');
    }
    &.heated-seats:before {
        background-image: url('../../../static-assets/icons/feature-icons/heated-seats.svg');
    }
    &.memory-seats:before {
        background-image: url('../../../static-assets/icons/feature-icons/memory-seats.svg');
    }
    &.parking-assist:before, &.parking-sensors-assist:before, &.parking-sensorsassist:before {
        background-image: url('../../../static-assets/icons/feature-icons/parking-assist.svg');
    }
    &.power-seats:before {
        background-image: url('../../../static-assets/icons/feature-icons/power-seats.svg');
    }
    &.keyless-entry:before, &.remote-keyless-entry:before {
        background-image: url('../../../static-assets/icons/feature-icons/keyless-entry.svg');
    }
    &.maserati-approved-certified-pre-owned:before, &.ineos-approved-certified-pre-owned:before, &.lift-kit:before, &.roof-rack:before, &.trailer-hitch:before {
        background-image: url('../../../static-assets/icons/feature-icons/fallback-grenadier.png');
    }
    &.navigation-system:before {
        background-image: url('../../../static-assets/icons/feature-icons/navigation-system.svg');
    }
    &.premium-audio:before {
        background-image: url('../../../static-assets/icons/feature-icons/premium-audio.svg');
    }
    &.satellite-radio:before, &.satellite-radio-ready:before {
        background-image: url('../../../static-assets/icons/feature-icons/satellite-radio.svg');
    }
    &.side-impact-airbags:before, &.dual-front-side-impact-airbags:before, &.dual-front-impact-airbags:before {
        background-image: url('../../../static-assets/icons/feature-icons/side-impact-airbags.svg');
    }

}