/* Top Footer RTGT Colors */
#footer div[data-row="top"] .ct-container-fluid{
	max-width: 100%;
	width: 100%;
	padding:0;
}
#footer div[data-row="top"] [data-column="ghost"]:nth-child(1){
	background-color:#046A38;
	height:5px;
}
#footer div[data-row="top"] [data-column="ghost"]:nth-child(2){
	background-color:#FFB81C;
	height:5px;
}
#footer div[data-row="top"] [data-column="ghost"]:nth-child(3){
	background-color:#418FDE;
	height:5px;
}
#footer div[data-row="top"] [data-column="ghost"] {
	display: block;
}
@media only screen and (max-width: $tablet-max) {
	[data-footer*="type-1"] .ct-footer [data-row*="top"] > div {
	--grid-template-columns: repeat(3, 1fr);
}
}
#footer .ct-icon, .ct-icon-container svg {
	width: 19px;
	height: 19px;
}

#footer .kb-button {
	z-index: 0;
}

/* Middle Footer */
@media screen and (max-width: $small) {
    #footer [data-row="middle"] [data-column="widget-area-4"] #block-16 {
        display: none;
        height: 0;
        padding: 0;
        margin: 0;
    }
}

#footer [data-row="middle"] [data-column="widget-area-4"] #block-17 {
	margin-top: 0px !important;
}

@media screen and (min-width: $medium) {
    #footer [data-row="middle"] [data-column="widget-area-4"] #block-17 {
        display: none;
        height: 0;
        padding: 0;
        margin: 0;
    }
}
#footer [data-row="middle"] [data-column="widget-area-5"] .widget-title {
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 20px;
}
#footer [data-row="middle"] [data-column="widget-area-5"] .widget-menu {
	column-count: 2;
}
#footer [data-row="middle"] [data-column="widget-area-5"] .widget-menu li {
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 20px;
}
#footer p a {
	color: #ffffff !important;
}

/* Bottom Footer */
@media only screen and (max-width: 1180px) { 	
	#footer [data-row*="bottom"] > div {
		--columns-gap: 10px;
		--grid-template-columns: none;
		display: flex;
		flex-wrap: wrap;
	}
	#footer div[data-column="copyright"] {
		order: 2;
		-webkit-box-flex: 0;
        -webkit-flex: 0 0 51.5%;
        -ms-flex: 0 0 51.5%;
        flex: 0 0 51.5%;
        max-width: 51.5%;
    }
	#footer div[data-column="menu-secondary"] {
		order: 3;
		-webkit-box-flex: 0;
        -webkit-flex: 0 0 47%;
        -ms-flex: 0 0 47%;
        flex: 0 0 47%;
        max-width: 47%;
	}
	#footer div[data-column="socials"] {
		-webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
		order: 1;
		align-items:flex-start;
	}
}

@media only screen and (max-width: $small) { 
	#footer div[data-column="copyright"] {
		order: 2;
		-webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
	}
    #footer div[data-column="menu-secondary"] {
        order: 3;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
	}
}