/*************************************
Global
**************************************/


/* Global Body */
body {
	min-width: $site-min-width;
	max-width: 3840px;
}

main {
    background-color: $fli-black;
    color: $white;
}

/* Hide Loader Inner */
.loader-inner {
	display: none !important;
}

.site-main {
    opacity: 0;
    z-index: 1;
}

/* Global Classes */
.wp-block-table.table-width-auto table {
    width: auto;	
}

p.has-large-font-size, p.large {
    font-size: 18px !important;
    line-height: 30px !important;
}

.wp-block-table.no-borders table, .wp-block-table.no-borders th, .wp-block-table.no-borders td {
    border-color: transparent !important;
    padding-left: 0px;
}

.no-column-padding > .kt-row-column-wrap, .no-column-padding.kt-row-column-wrap {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.block-container {
    color: $fli-black;
}

.round {
    border-radius: 15px;
}

.uppercase {
    text-transform: uppercase;
}

.spacing-sm {
    padding: 10px 0;
}
.spacing-md {
    padding: 60px 0;
}
.spacing-lg {
    padding: 100px 0;
}

@media screen and (min-width: 690px) {
    .mobile-only {
        display: none;
    }
}

@media screen and (max-width: 689px) {
    .hide-on-mobile {
        display: none;
    }
}

@media screen and (max-width: $tablet-max) {
    .display-block-tablet {
        display: block;
        width: 100%;
    }
}

.display-block {
    display: block;
    width: 100%;
}

/* Tablet */
@media screen and (max-width: 1440px) {

}

/* Mobile */
@media screen and (max-width: 767px) {

}

/* Tablet */
@media screen and (max-width: 1279px) {

}
  
/* Mobile */
@media screen and (max-width: 767px) {
  
}
  
/* Post Archives */
.wp-block-post-excerpt__more-link {
    display: none;
}

/* News and Press Archives - Stack on tablet */
@media screen and (max-width: 1279px) {
    .custom-news-archive .wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid {
        grid-template-columns: 1fr;
        gap: 24px;
    }
}
  

/* Pagination */
.wp-block-query-pagination {
    margin-top: 50px;
}

.wp-block-query-pagination-numbers {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-right: 0;
}

.wp-block-query-pagination-numbers .page-numbers {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 3px;
}

.wp-block-query-pagination-numbers .page-numbers.current {
    color: #ffffff;
    background: #00152C;
}

.wp-block-query-pagination>.wp-block-query-pagination-next,
.wp-block-query-pagination>.wp-block-query-pagination-numbers,
.wp-block-query-pagination>.wp-block-query-pagination-previous {
    margin-bottom: 0;
    line-height: 1
}

.wp-block-query-pagination .wp-block-query-pagination-next-arrow,
.wp-block-query-pagination .wp-block-query-pagination-previous-arrow {
    font-size: 0px;
}

.wp-block-query-pagination .wp-block-query-pagination-next-arrow::before,
.wp-block-query-pagination .wp-block-query-pagination-previous-arrow::before {
    display: block;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9px' height='9px' viewBox='0 0 15 15' fill='%23B61615' %3E%3Cpath d='M4.1,15c0.2,0,0.4-0.1,0.6-0.2L11.4,8c0.3-0.3,0.3-0.8,0-1.1L4.8,0.2C4.5-0.1,4-0.1,3.7,0.2C3.4,0.5,3.4,1,3.7,1.3l6.1,6.1l-6.2,6.2c-0.3,0.3-0.3,0.8,0,1.1C3.7,14.9,3.9,15,4.1,15z' %3E%3C/path%3E %3E%3C/svg%3E ");
}

.wp-block-query-pagination .wp-block-query-pagination-previous-arrow::before {
    transform: rotate(180deg);
}

[data-pagination=simple] .prev,
[data-pagination=simple] .next,
[data-pagination=next_prev] .prev,
[data-pagination=next_prev] .next {
    font-size: 0px;
    border: 0px
}

[data-pagination=simple] .page-numbers,
[data-pagination=next_prev] .page-numbers {
    border: 0px;
}

/* 404 */
body.error404 .ct-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Search Results */
.search-results .hero-section {
    margin-top: 24px;
}

.search-results [data-archive=default][data-layout=simple] article:not(:last-child) {
    margin-bottom: 0;
}

.search-results [data-archive=default][data-cards=simple] .entry-card {
    border-bottom: 0px;
}

.search-results .ct-pagination {
    margin-bottom: 50px;
}


.custom-breadcrumbs-theme {
    padding-top: 24px;
    padding-bottom: 24px;
    ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        padding-left: 0px;
        flex-wrap: wrap;
    }
    li {
        position: relative;
        padding-right: 72px;
        font-size: 12px;
        line-height: 20px;
        a {
            text-decoration: none;
            color:$theme-red;
        }
        &:after {
            content: '>';
            color: #9D9D9C;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 26px;
            height: 20px;
            width: 20px;
            text-align: center;
        }
        &:last-child::after {
            content: '';
        }
    }
    @media screen and (max-width: 767px) {
        li {
            padding-right: 30px;
        }
        li:after {
            right: 5px;
        }
    }
}