/*********************************************
Utility - Variables, Tools, Functions, Mixins
*********************************************/

$white: #ffffff;
$black: #000000;


// Fli Media Theme Specific Colors
$theme-red: #B61615;
$theme-blue-dark: #00152C;
$fli-linen: #F2EADF; /* Drop Cloth Linen | rgb(242,234,223) */
$fli-green: #60935D; /* Wealth Green | rgb(96,147,93) */
$fli-purple: #8367C7; /* Culture Purple | rgb(131,109,199) */
$fli-orange: #FA4523; /* Authentically Orange | rgb(250,69,35) */
$fli-black: #001011; /* Rich Black | rgb(0,16,17) */




// Grid Breakpoints and spacing

$small: 689.98px; // mobile max
$medium: 690px;  // tablet min
$tablet-max: 998.98px; // tablet max
$large: 1000px; // desktop min
$xlarge: 1920px; // desktop max (content max)

// css grid spacing
$grid-gap: 50px;
$mobile-grid-gap: 20px;
$site-min-width: 320px; // site min
$content-max-width: 1920px;

$gutter-width: 50px;
$gutter-width-tablet: 20px;
$gutter-width-mobile: 20px;
$gutter-width-mobile-2x: 40px;



/*----------------
		Font
------------------*/
// .ibm-plex-sans-light {
//   font-family: "IBM Plex Sans", sans-serif;
//   font-weight: 300;
//   font-style: normal;
// }
// Monarcha Regular
// font-family: "monarcha", serif;
// font-weight: 400;
// font-style: normal;
// Monarcha Regular Italic
// font-family: "monarcha", serif;
// font-weight: 400;
// font-style: italic;
// Monarcha Bold
// font-family: "monarcha", serif;
// font-weight: 700;
// font-style: normal;
// Monarcha Bold Italic
// font-family: "monarcha", serif;
// font-weight: 700;
// font-style: italic;


/*---------------------------------
		Font Weights
-----------------------------------*/


/*---------------------------------
		Mixins & Functions
-----------------------------------*/

@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin font-smoothing() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin font-family($font: $font__main ) {
	font-family: $font__main;
}

@mixin clearfix {
	&::after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: '';
		clear: both;
		height: 0;
	}
}

@mixin media($args...) {
	$media-type: 'only screen';
	$media-type-key: 'media-type';
	$args: keywords($args);
	$expr: '';

	@if map-has-key($args, $media-type-key) {
		$media-type: map-get($args, $media-type-key);
		$args: map-remove($args, $media-type-key);
	}

	@each $key,
	$value in $args {
		@if $value {
			$expr: "#{$expr} and (#{$key}: #{$value})";
		}
	}

	// @media #{$media-type} #{$expr} {
	// 	@content;
	// }
}

@mixin media-max($max) {
	@include media($max-width: ($max - 1)) {
		@content;
	}
}

@mixin media-min($min) {
	@include media($min-width: $min) {
		@content;
	}
} 

@function background_url($image ){
@return url("../img/" + $image );
}

@function rem($px, $rembase: 16) {
	@return calc($px/$rembase)+rem;
}

